
<div class="main_box"> 

<h1>Topic: <%= @topic.title %></h1>
 
<p>
  Description:
  <%= @topic.description %>
</p>

<h2>Posts</h2>

<%= render @topic.posts %>

<h2>Add a post:</h2>
<%= render "posts/form" %>

<%= link_to 'Back', topics_path %>
| <%= link_to 'Edit', edit_topic_path(@topic) %>

</div>
