
<div class="main_box"> 

<h1>トピック: <%= @topic.title %></h1>
 
<p>
  説明:
  <%= @topic.description %>
</p>

<h2>投稿一覧</h2>

<%= render @topic.posts %>

<h2>新しい投稿をする</h2>
<%= render "posts/form" %>

<%= link_to '戻る', topics_path %>
| <%= link_to '編集', edit_topic_path(@topic) %>

</div>
