
<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<h2>Posts</h2>
<%= render @topic.posts %>

<h2>Add a post:</h2>
<%= render "posts/form" %>

<%= link_to 'Back', topics_path %>
| <%= link_to 'Edit', edit_topic_path(@topic) %>
