<div class="post">
<div class="text">
  <span id="post-<%= post.id %>" >
    <%= post.id %>
  </span>:
  <%= post.text %>

</div>
<div class="cotributor">
  投稿者: <%= post.contributor %>
  <%= link_to '削除', [post.topic, post],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

</div>
</div>
