<div class="post">
  <% if post.post_id != nil  %>
     &gt;&gt; <a href="#post-<%= post.post_id %>"><%= post.post_id %></a>
  <% end %>
<div class="text">
  <span> <a name="post-<%= post.id %>" ></a>
    <%= post.id %>
  </span>: 
  <%= post.text %>

</div>
<div class="cotributor">
  投稿者: <%= post.contributor %>
  <%= link_to '削除', [post.topic, post],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
            <button onclick="document.getElementById('post_post_id').value= <%= post.id %> ; window.location.hash ='h2_new_post';">返信</button>

</div>
</div>
